{% load static %}

{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}

<!DOCTYPE html>
<html class="h-100" lang="en">
  <head>
    <title>Mentor Matrix</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <!-- Header / Navigation -->

    <!-- Main Content -->
    <main>
        {% block content %}
        <!-- Content -->
        {% endblock content %}
    </main>

    <!-- Footer -->
    <footer></footer>

    <!--Scripts -->
    <!-- Custom JS -->
    <script src="{% static 'js/script.js' %}"></script>

</body>


</html>

